.image-container {
    width: 400px;
    height: 600px;
    overflow: hidden;
    position: relative; 
}

img {
    width:200px; /* you can use % */
    height: auto;
}

.image-inner-container {
    position: absolute;
}

.title {
    position: absolute;
    transform: rotate(-90deg);
    text-align: left;
    width: 25%;
    bottom: 15%;
    margin: 0;
    color: black;
    font: bold 1em/1em Helvetica, Sans-Serif;
}

.description {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 30%;
    margin: 0;
}